/* 第一步样式标准化（重置）：将浏览器提供的默认样式统一化 实用化 */
/* 有些元素默认样式不好用，需要在最开始写页面时重新设定统一下，改成适合于当前项目的样式 */
/* 1.1 将html根元素设置一下 */
html {
	/* 设定根元素html的字体大小，页面中所有使用rem单位的长度都是相对于html的字体大小而言的 */
	font-size: 14px;
	/* 1.2 根元素html的高度默认是靠内容撑起来的，很矮，使用起来不方便 我们可以让html的高度为浏览器窗口高度的100%*/
	height: 100%;
}

/* 2.body的样式重置 */
body {
	/* 2.1 不同浏览器的外间距不同 我们不要 清零 */
	margin: 0;
	/* 2.2字体与字体颜色的设置 */
	font-family: '黑体';
	color: #666;
	/* 2.3背景颜色 */
	background-color: #f5f5f5;
}

/* 3.超链接样式重置 */
a {
	/* 3.1去掉超链劫自带的下划线 */
	text-decoration: none;
	/* 3.2修改超链接的字体颜色，超链接默认不会继承body的颜色 */
	color: #666;
}

/* 3.3超链接未被访问过的样式 */
a:link {
	color: #0aa1ed;
}

/* 3.4超链接已被访问过的样式 */
a:visited {
	color: #0aa1ed;
}

/* 3.5超链接悬停的样式 */
a:hover {
	color: #808080;
}

/* 3.6超链接激活的样式 */
a:active {
	color: #666;
}

/* 4.列表样式重置 */
ul,
ol {
	/* 4.1 浏览器为所有列表提供了间距，需要清除 */
	margin: 0;
	padding: 0;
}

/* 4.2清除浏览器提供的列表项前标识符 */
li {
	/* 去掉有序列表项前默认的阿拉伯数字/无序列表项前的空实心圆 */
	list-style-type: none;
}

/* 5.清除段落默认存在的上下外间距 */
p {
	margin: 0;
}

/* 6.清除输入框的外轮廓线 */
input {
	outline: none;
}

/*********** 第二步：样式脚手架：声明一些基础类，辅助构建整个页面***********/
/* 7.版心基础类 */
.container {
	/* 7.1根据设计给的宽度制定版心的宽度 */
	width: 1000px;
	/* 7.2设置版心的内容在页面中水平居中 */
	margin: 0 auto;
}

/* 8.清除腹肌高度坍塌影响的工具类 */
.clearfix::after {
	content: '';
	/* 在指定元素的最后生成一个空的家孩子*/
	display: block;
	/* 显示模式变为块级才能使用clear*/
	clear: both;
	/* 清除向左、向右两个方向浮动产生的影响*/
}

/* 9.开发测试阶段的辅助线，颜色自定义，代码完成后记得删掉！ */
div {
	border: 1px solid #f00;
}

/******************第三步；。。。。。。。。。。。。。。。。。。。 *******************/
