//1.1混合指令
@mixin fangkuai100{
	width: 100px;
	height: 100px;
}
.box {
	//1.2使用上面封装好的指令
	@include fangkuai100;
	background-color: red;
}
.box2 {
	@include fangkuai100;
	background-color: blue;
}
//2.定义可以传参数的混合指令
@mixin bc_color($c){
	background-color: $c;
	color: $c;
	border-color: $c;
}
.box3 {
	@include fangkuai100;
	@include bc_color(red)
}