/* 所有汉唐二级页面模板的样式 */
/********* 公共样式 *********/
* {
	margin: 0;
	padding: 0;
}

.center {
	width: 1000px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/********* 1楼header的CSS *********/
.header {
	height: 100px;
	/* background-color: lightgreen; */
}

.header .logo {
	float: left;
	margin-top: 28px;
}

.header .other {
	float: right;
	margin-top: 36px;
}

.header .other img {
	height: 28px;
	float: left;
}

.header .other>a {
	float: left;
	color: #666;
	font-size: 14px;
	text-decoration: none;
	line-height: 28px;
}

.header .other input {
	float: right;
	margin-left: 20px;
	box-sizing: border-box;
	/*将盒子模型计算方案切换为边框盒子*/
	width: 180px;
	height: 28px;
	border: 1px solid #666;
	outline: none;
	/* 去掉外轮廓线 */
	background-image: url(img/search.png);
	/* 插入背景图片 */
	background-repeat: no-repeat;
	/* 背景图不重复 */
	background-position: right;
	/* 背景图定位 */
	background-size: 28px 28px;
	/* 背景图尺寸 */
	padding-left: 10px;
	padding-right: 30px;
}

/********* 2楼nav的CSS *********/
/* 整个导航条 */
nav {
	background-color: #F5F2EB;
	/* 给父元素一个高度还能解决失高问题 */
	height: 40px;
}

/* 导航栏中的每一个导航项，包含a和ul */
nav .nav-item {
	width: 90px;
	height: 40px;
	/* 浮动让所有导航项横置 */
	float: left;
}

/* 每个导航项中的a,比如“首页” */
nav .nav-item>a {
	display: block;
	color: #666;
	font-size: 14px;
	/* 让块级元素中的文字水平居中 */
	text-align: center;
	/* 行高与单行文本等高 垂直居中 */
	line-height: 40px;
}

/* 悬停在a上或者激活项，修改样式 */
.nav-item a:hover,
.nav-item>.active {
	color: #fff;
	background-image: linear-gradient(#d4011A, #970009);
}

/* 导航项中下拉菜单效果 */
.nav-item ul {
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
	font-size: 14px;
	/* 此时绝对定位的参照物找到了html */
	position: absolute;
	/*顶部条+导航条的高度*/
	top: 140px;
	/* 要先消失，悬停时才出现 */
	display: none;
}

/* 下拉菜单中的每一个菜单项 */
.nav-item ul li {
	width: 90px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}

/*当悬停在导航项时，让它内部的ul出现*/
.nav-item:hover ul {
	display: block;
}

/* 当悬停在下拉菜单时的效果: */
/*紧挨它的a标签如公司业务是红底白字 */
.nav-item ul:hover+a {
	color: #fff;
	background-image: linear-gradient(#d4011A, #970009);
}

/* 悬停的li背景颜色加深 */
.nav-item ul li:hover {
	background-color: rgba(0, 0, 0, .6);
}

/********* 3楼banner的CSS *********/
.banner {
	background-image: url(img/banner-bg.png);
	height: 140px;
}

.banner img {
	height: 140px;
}

/********* 4楼main的CSS *********/
/****** 4楼左侧侧边栏的CSS ******/
.main::after {
	content: '';
	display: block;
	clear: both;
}

.main .left {
	width: 270px;
	float: left;
	/* 尝试向上窜 */
	margin-top: -20px;
	/* 如果想让当前元素在同一层中级别更高，可以加相对定位 */
	position: relative;
}

.main .left .js {
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.main .left .js div {
	height: 100px;
	background-color: #d4011A;
	/* 加这句话是为了防止父子贴边
	 h4的上间距出去 BFC保护*/
	overflow: hidden;
}

.main .left .js div h4 {
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
}

.main .left .js div h2 {
	font-size: 45px;
	color: #ff1228;
	margin-left: 10px;
}

.main .left .js ul {
	margin-bottom: 80px;
}

.main .left .js ul li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	/* 马上给小三角所在的li设置相对定位作为移动参照物 子绝父相 */
	position: relative;
}

.main .left .js ul li::before {
	content: '·';
	margin-left: 10px;
	margin-right: 5px;
}

/* 列表项右侧的小三角 */
.main .left .js ul li span {
	display: block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #999;
	/* 使用绝对定位别忘了设置参照物 */
	position: absolute;
	top: 14px;
	right: 10px;
}

/* li的悬停效果 */
.main .left .js ul li:hover {
	background-color: #f4f4f4;
	color: #d11a19;
	cursor: pointer;
}

/* li悬停的时候，小三角的颜色也要变 */
.main .left .js ul li:hover span {
	border-left-color: #666;
}

/* 集团成员的样式 */
.main .left .cy {
	border: 1px solid #ddd;
}

.main .left .cy .tit {
	height: 70px;
	line-height: 70px;
	background-color: #AC996D;
	color: #fff;
}

.main .left .cy .tit h4 {
	margin-left: 20px;
	font-size: 20px;
}

.main .left .cy .tit h4 span {
	font-size: 14px;
}

.main .left .cy .box ul {
	margin: 15px 34px 100px 18px;
}

.main .left .cy .box ul li {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px dashed #ddd;
}

.main .left .cy .box ul li::before {
	content: '> ';
}

/****** 4楼右侧主体的CSS ******/
.main .right {
	width: 700px;
	margin-left: 30px;
	float: left;
}

/* 面包屑导航的样式 */
.main .right .breadcrumb {
	border-bottom: 4px solid #ddd;
	color: #989898;
	font-size: 14px;
	margin-top: 26px;
	padding-bottom: 8px;
}

.main .right .breadcrumb img {
	width: 12px;
	height: 14px;
	padding-right: 5px;
}

.main .right .breadcrumb a {
	color: #989898;
	font-size: 14px;
}

.main .right .breadcrumb a+a::before {
	content: '> ';
}

/********* 5楼foot的CSS *********/
.foot {
	height: 80px;
	background-color: #83764F;
	margin-top: 100px;
	padding-top: 20px;
	box-sizing: border-box;
}

.foot p {
	color: #fff;
	font-size: 12px;
	text-align: center;
}
